body{
    width: 1600px;
    margin: auto;
    background: orange;
}
header{
    background: #F0E2D7;
    width: 100%;
   
    border-radius: 20px;
}
.imagem-edit{
    width: 100%;
    
}
.banner{
    width:100%;
    border-radius: 20px;
    

 }
 .caixa{
    position:relative;
    width: 100%;
    right: 0 auto;
    

    
 }
.navegacao{
    color: orangered;
   position:absolute;
    top:30px;
    right: 0;
    margin: 0 100px 0 0;
    padding: 15px;
    background: orange;
    border:4px solid orangered;
    border-radius: 5px 15px 25px 35px;
    
   
}
.navegacao li{

    display: inline;
    margin: 0 0 0 15px;
    
    
}
.navegacao a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color:black;
}
.navegacao:hover a {
    
    color: orangered;
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: underline;
    
}
.navegacao:active a {
    color: orangered;
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin: 100px;
    background:  #F0E2D7 ;
    padding: 15px;
    border-radius: 10px;


}
.produtos {
    width: 1600px;
    margin:0 auto;
    padding: 90px 0;
   
}
.produtos li{
    display: inline-block;
    text-align: center;
    border: 2px solid black; 
    width: 30%;
    height: 40%;
    vertical-align: top;
    font-size: 1.5em ;
    margin:0 1.5%;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 10px;
    background: orange;
    

}
.produtos-loja{
    background: #F0E2D7;
    margin-top: none;
}
h3{
    font-size: 30px;
    font-weight: bold;
    padding: 5%;
}
li img{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
}


.produto-descricao{
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    text-decoration: dashed;
    background: #F0E2D7;
    border-radius: 10px;
    font-style: italic;
    padding: 5px;
}
.botao-comprar{
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 0;
    background:orange;
    font-size: 1em;
    border-radius: 10px;
    transition: 0.5s all;
    box-shadow: 10px;
    font-weight: bold;


}
.botao-comprar:hover {
    color:black;
    cursor:pointer;
    background: orangered;
    transform: rotate(360deg) scale(1.2);
    
}
.botao-comprar:active{
    background: green;
    
}

footer {
    
    width: 1600px;
    background: url(rodape.png);
    height: 250px;
}
.conteudo-rodape{
    text-align: center;

    padding: 30px 0 ;
}



